{% extends 'landing/base.html' %}
{%block content%}
<button class="bg-primary ">
    <a class="text-black post-link" href="{% url 'user_profile' object.pk %}">
        Back To Profile 
        <i class="bi bi-reply-fill"></i>
    </a>
</button>
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5> <strong>{{request.user}}</strong> Update Your Profile</h5>
        </div>
    </div>
    <div  class="row justify-content-center mt-3 mb-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="post" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{form.as_p}}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3" type="submit">Submit</button>
                    </div>
                </form>
                <p><strong>Note: </strong>Profile is publicly displayed</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}



