{%extends 'landing/base.html'%}
{%block content%}
<div class="loader"><div><img src="photos/IMG_20210906_111458_347.jpg" alt=""></div></div>
<div>
    <h1 class="h">
        <span class="let1 span">B</span>
        <span class="let2 span">O</span>
        <span class="let3 span">S</span>
        <span class="let4 span">C</span>
        <span class="let5 span">O</span>
    </h1>
</div>
<div class="spin"></div>
<div class="purple">
    <div class="purple">
        <div class="purple">
            <div class="purple">
                <div class="purple">
                    <div class="purple">
                        <div class="purple">
                            <div class="purple">
                                <div class="purple">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner"></div>

<div class="loadercircle">
    <div class="inner">

    </div>
</div>

{% endblock content %}